@media all and (min-width: 480px) {
  .ForgotPassword {
    padding: 60px 0;
  }

  .ForgotPassword form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ForgotPassword .success {
    max-width: 400px;
  }
}

.ForgotPassword .success {
  margin: 0 auto;
  text-align: center;
}
.ForgotPassword .success .react-icon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}
